<footer class="footer {% if site.scrollappear_enabled %}scrollappear{% endif %}">
  <p>
    This work was produced as a Final Year Project at the Wee Kim Wee School of
    Communication and Information, Nanyang Technological University, Singapore.
  </p>
  <p>
    The information in this website is not intended or implied to be a substitute
    for professional medical advice, diagnosis or treatment. All content, including
    text, graphics, images and information, contained on or available in this
    website, is for general information only.
  </p>
  <p>
    Copyright &copy; {{ site.author }} 2018 &middot; Illustrations by Kimberly Ang
  </p>
  <ul class="footer-links">
    <li><a href="{{ '/about-the-author/' | relative_url }}">About</a></li>
    <li><a href="{{ '/copyright/' | relative_url }}">Copyright</a></li>
  </ul>
</footer>
